@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #08151c;
}

pre {
  padding: 1rem;
  border-radius: 0.25rem;
}

code {
  padding: 2px 4px;
  font-size: 0.875rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  border: 1px solid #3e6072;
  border-radius: 0.25rem;
  white-space: pre;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  code {
    border-color: lightblue;
  }
}
